// Importing fonts
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Create some custom colors
$input-gray: hsl(190, 22, 94);
$label-gray: hsl(0, 0, 0, .70);
$input-outline-gray: hsl(188, 12, 89);
$small-heading-gray: hsl(0, 0, 0, .75);
$button-blue: hsl(190, 73, 63);
$button-hover: hsl(190, 73, calc(63 * .80));
$orange: hsl(27, 91, 66);

// Create mixins
@mixin heading-font {
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    font-size: 87px;
}

@mixin poppins-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

@mixin input-field {
    background-color: $input-gray;
    border: solid 1px $input-outline-gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    position: absolute;
    height: 100vh;
    width: 60vw;
}

form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: calc(100vw * 0.3917);
    margin: 0 calc(100vw * .097) 0 49vw;
}

.top-headings {
    margin-top: calc(100vh * 0.12);
    display: flex;
    flex-direction: column;

    h1 {
        @include heading-font();
    }

    h2 {
        position: relative;
        top: -15px;
        @include poppins-font();
        opacity: 0.75;
    }
}

.inputs-section {
    display: flex;
    padding-top: 5%;
    flex-direction: column;

    .names-section {
        display: flex;
        gap: 5%;
        width: 100%;

        .first-name,
        .last-name {
            display: flex;
            flex-direction: column;
            flex: auto;

            label {
                padding-left: 17px;
                @include poppins-font();
                opacity: .70;
                font-size: 19px;
            }

            input {
                flex: auto;
                border-radius: 22px;
            }
        }
    }

    .email-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 3%;

        label {
            padding-left: 17px;
            @include poppins-font();
            opacity: .70;
            font-size: 19px;
        }

        input {
            flex: auto;
            border-radius: 22px;
        }
    }

    .passwords-section {
        display: flex;
        padding-top: 3%;
        gap: 5%;
        width: 100%;

        .password,
        .confirm {
            display: flex;
            flex-direction: column;
            flex: auto;

            label {
                padding-left: 17px;
                @include poppins-font();
                opacity: .70;
                font-size: 19px;
            }

            input {
                flex: auto;
                border-radius: 22px;
            }
        }

    }
}

input {
    @include input-field();
    height: calc(100vh * 0.066);
    padding-left: 20px;
    @include poppins-font();
    font-size: 19px;
}

.bottom-section {
    display: flex;
    padding-top: 8%;
    flex-direction: column;
    gap: calc(100vh * 0.019);
    @include poppins-font();

    button {
        width: 47%;
        height: calc(100vh * 0.073);
        border: none;
        border-radius: 56px;
        background-color: $button-blue;
        color: #fff;
        font-size: 22px;
    }

    button:hover {
        background-color: $button-hover;
        cursor: pointer;
    }

    div {
        padding-left: 17px;
        font-size: 19px;

        a {
            text-decoration: none;
            color: $orange;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}